body{
	background-color: #FFF0F5;
	font-size: 1em;
}

#area-titulo{

	width: 600px;	
	height:200px;
	position: relative;
	left: 450px;
	padding: 0px;
	margin: 0px;
	
	
}

#area-menu{

	width: 600px;	
	height: 450px;
	position: relative;
	left: 400px;
	padding: 0px;
	margin: 0px;
	
	
}
#navegacao{

	width: 600px;	
	height: 450px;
	position: absolute;
	left: 10px;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	text-align: center;
	
	
}

li a{
	line-height:85px;
	text-decoration: none;
	display: inline;
	padding: 30px;
	margin: 35px;
	font-size: 2em;
	font-family: Snell Roundhand, cursive;
	color:purple;
	

}
li a:hover {
	background-position: right bottom;
	color:#fff;
}
li a:visited {
	background-position: right bottom;
	color: red;
}



