body{
	background-color: #FFF0F5;
	font-size: 1em;
}

#area-logo{

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	margin: 8px 12px;
	padding-bottom: 20px;
}


ul li{
	float: left;
	display: block;
}
ul {
	width: 820px;
	float:left;
	border: 1px solid red;
	margin: 20px 50%px;
	padding: px;
	list-style-type: none;
	
}


ul a{
	border: 1px solid red;
	margin: 90px;
	padding: 0px;
	line-height: 80px;
	list-style: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


