body{
	background-color: #FFF0F5;
	font-size: 1em;
}

#area-titulo{

	width: 600px;	
	height:200px;
	position: relative;
	left: 450px;
	padding: 0px;
	margin: 0px;
	
	
}

#area-menu{

	width: 600px;	
	height: 450px;
	position: relative;
	left: 400px;
	padding: 0px;
	margin: 0px;
	
	
}
.area-menu-texto{

	width: 600px;	
	height: 450px;
	position: absolute;
	left: 400px;
	padding: 0px;
	margin: 0px;
	
	
}
