		
		
/*Corpo do site*/
body{
    font-size: 1em;
    background-color:white;	
    font-family: "arial"
}

/*Mudanças no título*/
h1{
    padding: 30px;
    text-align: center;
    font-size: 3em;

}
h2{
    color:  rgb(167, 0, 0);;
}

/*ID do título do site*/
.titulo{
    width: 97%;
    height: 400px;
    margin: 20px;
    background-color:#FFF0F5;
}
/*Paragrafos*/
p{
    font-size: 1em;
    text-align: center;
}


/*Menu Principal*/
.menu{
    margin: 162px 0px;
    font-size: 1em;
    background-color: rgb(167, 0, 0);
    overflow: hidden;

}

/*Mudanças nos links*/

.menu a {

display: block;
float:left;
text-decoration: none;
padding: 15px;
margin: 10px 10px 10px 10px;
color:white;
font-weight: bold; 
font-size: 15px
}

/*Mudanças nos Conteudo*/
#conteudo{
width: 97.2%;
height: 1000px;
margin: 19px;

background-color:#FFF0F5;
}
#conteudogaleria{
    width: 97.2%;
    height: 800px;
    margin: 19px;
    background-color:#FFF0F5;
    }
/*Mudanças nos Conteudo Principal*/
.conteudopricipal{
width: 900px;
height: 620px;
margin: 19px;
float:left;
background-color: white;
}
.conteudopricipalgaleria{
    width: 900px;
    height: 600px;
    margin: 19px;
    float:left;
    background-color: white;
    }
/*Mudanças nos Conteudo Secundario*/
.conteudosecundario{

float: right;
width: 336px;
height: 305px;
margin: 19px 19px 0px 0px;

}
/*Mudanças nos Conteudo Sobre*/
.conteudosobre{
width: 300px;
height: 200px;
float: left;
margin-left: 15px;
background-color: rgb(255, 255, 255);
}
.clear{
clear: both;


}

/*Galeria de fotos*/

#galeria-fotos{
    width: 500px;
    margin: 50px;
    margin-left: 140px;
    
}

/*Mudanças no rodapé*/

.rodape{
border:1px solid red;
width: 97%;
height: 200px;
margin: 19px;

}

/*Conteudo do texto */
#conteudo h2{

margin: 19px;

}

