		
		
/*Corpo do site*/
body{
    font-size: 1em;
    background-color:white;	
    font-family: "arial"
}
/*Logotipo*/
.logo{
    width: 300px;
    margin: 0, auto;
    margin-left: 550px;
    margin-top: -65px;
}
/*conteudo Principal*/
#conteudo{
    width: 85%;
    border: 1px solid red;
    color: white;
    margin: 50px 5px 5px 50px;
    padding:25%;
}
/* Menu dos Link*/
ul {
    list-style-type: none;
    text-decoration: none;
      
}
ul li{
    display: inline;
    text-align: center;
    padding: 0 7.1em;
    margin-left: 0 2px 0 0;

}
a{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.3em;
    color: #A08445;

}

a:hover{
    color:rgba(212, 42, 42, 0.726);
}
a:link{
     text-decoration: none;
}