		
		
/*Corpo do site*/
body{
    font-size: 1em;
    background-color:white;	
    font-family:'Ubuntu', sans-serif;
    width: 100%;
}

#corpo{
    width: 100%;
}

.redes{
    float: right;
    display: block;
    padding: 20px;
}

/*Logotipo*/
.logo{
    width: 300px;
    margin: 0, auto;
    margin-left: 550px;
    margin-top: -65px;
    
    
}

/*conteudo Principal*/
#conteudo{
    width: 85%;
    margin: 50px 5px 5px 50px;
    padding:25%;
    height: 1000px;
    
}
.conteudointerno{
   
    margin-top: -300px;
    margin-left: -290px;
    clear: both;
}


/*Perfil*/
.perfilimg{
    width: 250px;
    border-radius: 150px;
    float: left;

}
/* Menu dos Link*/
ul {
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    margin-left: 60px;
    
        
      
}
ul li{
    display: inline;
    text-align: center;
    padding: 0 5.5em;
    margin-left: 0 2px 0 0;
  

}
a{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-size: 1.6em;
    color: #A08445;
    
}

a:hover{
    color:rgba(212, 42, 42, 0.726);
}
a:link{
     text-decoration: none;

}

/*Propriedades do carousel*/

.carousel-item{
    width: 300px;
    margin-top: 100px;
    margin-left: 100px;
}
/*paragrafo antes do rodapé*/
 .paragrafo{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    font-size: 3em;
    margin-top: 10px;
    color: #A08445;
}



/* Rodape */
#rodape{
    
    border: 3px solid #DFD169;
    border-left: none;
    border-right: none;
    width: 100%;
}
.rodape{
    width: 200px;
    padding-bottom: 30px;
    
   
}
h3{
    font-family: 'Cormorant', serif;
    font-style: italic;
    color: #A08445;
    text-align:center;
    font-size: 28px;
   float: left;
    margin-top:-100px;
    margin-left: 400px;
}
#rodape p{
    font-family: 'Cormorant', serif;
    font-style: italic;
    color: #A08445;
    text-align:center;
    font-size: 28px;
    position: relative;
    
}
.redes1{
    width: 50px;
    float:right;
    margin-right: 150px;
    margin-top: -130px;  
}
.redes2{
    width: 50px;
    float:right;
    margin-right: 250px;
    margin-top: -130px;  
}

/* Dispositivos móveis*/
@media screen and (max-width: 1100px) {
   #corpo,ul,li,a{
    display: block;
    font-size: x-large;
    }
    .logo {
       width: 300px;
       margin: 0, auto;
       margin-left: auto;
       margin-top: auto;
       border: 1px solid red;
    }
  }